body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #fff;
    font-weight: bolder;
    background-image: url("../cs.jpg");
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #495057;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: #6c757d;
}

section {
    padding: 40px 0;
}

section h2 {
    color: #007bff;
}

/* Add more styles for different sections as needed */
